{
  "useTabs": false,
  "printWidth": 80,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "none",
  "jsxBracketSameLine": false,
  "jsxSingleQuote": true,
  "parser": "typescript",
  "arrowParens": "avoid"
}
